# =========================
# Xcode & Apple OS
# =========================
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
DerivedData/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# =========================
# Swift Package Manager (SPM)
# =========================
.build/
.swiftpm/

# =========================
# Dependency Managers
# =========================
Pods/
Carthage/Build/

# =========================
# Fastlane
# =========================
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# =========================
# Claude Code
# =========================
# 클로드 코드가 내부적으로 사용하는 캐시 및 설정 폴더
.claudecode/
.claude/

# CLAUDE.md
CLAUDE.md